[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
isort = "*"
pytest-flake8 = "*"
pytest-cov = "*"
codecov = "*"
pydocstyle = "*"
bandit = "*"
pre-commit = "*"
yamllint = "*"
black = "==20.8b1"

[packages]
watchdog = "*"
hpcwatchdog = {editable = true, path = "."}
environs = "*"
globus-sdk = "*"

[requires]
python_version = "3.6"
